<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>FAQ Chatbot</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

</head>

<body>

<div class="background">
<div class="circle one"></div>
<div class="circle two"></div>
</div>

<div class="container">

<h1>🤖 FAQ Chatbot</h1>

<p>Ask any question from our FAQ database.</p>

<div id="chatBox" class="chat-box">

</div>

<div class="input-area">

<input
type="text"
id="userInput"
placeholder="Type your question here..."
>

<button onclick="sendMessage()">
Send
</button>

</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>